{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}
	{% if not recipes.items is same as ([]) %}
		<div class="container">
			<h1 class="text-center">Mes recettes</h1>

			<a href=" {{ path('recette.new') }} " class="btn btn-primary">Ajouter une recette</a>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			<div class="">
				<div class="count mt-4">
					Il y'a
					{{ recipes.getTotalItemCount }}
					recettes
				</div>
				<table class="table table-hover mt-4">
					<thead>
						<tr>
							<th scope='col'>Numéro</th>
							<th scope='col'>Nom</th>
							<th scope='col'>Prix</th>
							<th scope='col'>Difficulté</th>
							<th scope='col'>Date de création</th>
							<th scope='col'>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for recipe in recipes %}
							<tr class="table-primary">
								<th scope="row">
									{{ recipe.id }}
								</th>
								<th>
									{{ recipe.name }}
								</th>
								<th>
									{{ recipe.price ? recipe.price : 'Pas definie'  }}
								</th>
								<th>
									{{ recipe.difficulty ? recipe.difficulty : 'Pas de difficulté' }}
								</th>
								<th>
									{{ recipe.createdAt|date("d/m/Y") }}
								</th>
								<th>
									<a href="{{ path('recette.update', {id: recipe.id}) }}" class="btn btn-info">Modifier</a>
								</th>
								<th>
									<a href="{{ path('recette.delete', {'id': recipe.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette recette ?')" class="btn btn-danger">Suprimer</a>
								</th>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{# display paginator #}
				<div class="navigation">
					{{ knp_pagination_render(recipes) }}
				</div>
			</div>
		</div>
	{% else %}
		<h4>Il n'y a pas d'recette
		</h4>
	{% endif %}

{% endblock %}
